.manage-title{
    border-bottom: 3px solid #ff3705;
width: 290px;
margin: 20px auto;
}

.delete-btn{
    border-radius: 5px;
   background-color: rgb(223, 5, 5);
   border: none;
   color: white;
   font-size: 16px;
   font-weight: 600;
   margin-left: 50px;
}