.products-btn{
    background-color: black;
    width: 170px;
    color: white;
    border-radius: 5px;
    padding: 10px;
    text-decoration: none;
    margin-left: 580px; 


}

.products-btn:hover{
    color: white;
    background-color:  rgb(215, 47, 17);
}